@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva|Pacifico&display=swap');
body{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(35deg, #1100ff, #2196F3, #3F51B5, #1100ff);
    margin: 0;
    padding: 0;
    background-size: 400%;
    animation: 10s backanim infinite;
    color: #fff;
}

.err{
    position: relative;
    top: -20px;
    left: 23px;
}

h6{
    padding: 0;
    margin: 0 0 15px 0;
    text-align: center;
}

.btn{
    position: relative;
    height: 30px;
    border-radius: 5px;
    border:0;
    width:85%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Dancing Script', cursive;

}

.register {
    text-align: center;
}

.container{
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    padding: 50px 0;
    background-color: #fff5;
    border-radius: 10px;
    overflow: hidden;
    border: 0;
    box-shadow: 8px 13px 35px #0007
}
.title {
    text-align: center;
    font-size: 70px;
}
.title a{
    font-family: 'Dancing Script', cursive;
    color: #fff!important;
    text-decoration: none;

}
a{
    text-decoration: none;
    color: rgb(255, 255, 255) ;
}

input{
    position: relative;
    height: 30px;
    width:85%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 0;
    margin: 10px 0;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    background-color: rgba(209, 209, 209, 0.459);
    box-shadow: 4px 1px 10px #0007;

}
input::after{
    position: relative;
    height: 100%;
    width: 82%;
    background-color: #000;
    z-index: 1;
}

input::placeholder{
    color:#fff;
    font-family: 'Pacifico', cursive;
    letter-spacing: 1px;
}


@keyframes backanim{
    0%{background-position: 0%,40%}
    50%{background-position: 100%,40%}
    100%{background-position: 0%,40%}
}

