<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/about.css">
    <link sizes="16x16" rel="icon" type="iautomg/ico" href="./img/logoimg.ico">
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container">
		
			
				<img id="logo" src="../static/img/logo1.png" height="100px" class="d-block img-fluid" alt="logo" >
			 
		<div class="spinner-grow text-muted"></div>
	</div>
		<!--nav bar-->
	<nav>
		<a href="#" class="w-100">Home</a>
		<a href="#" class="w-100">Login</a>
		<a href="#" class="w-100">Register</a>
	</nav>
	
</body>
</html>